# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=          # generate with: openssl rand -base64 32

# GitHub OAuth App (https://github.com/settings/developers)
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# GitDrive config
GITDRIVE_DEFAULT_REPO_NAME=my-git-drive
GITDRIVE_MAX_FILE_SIZE_MB=100
